:root {
    --pst-color-primary: #51b46d!important;
    --pst-color-secondary: #7fc994!important;
    --sd-color-primary-highlight: #7fc994!important;
    --sd-color-primary-border: #7fc994!important;
    --pst-font-family-base: 'Signika', sans-serif!important;
    --pst-font-family-base-system: 'Signika', sans-serif!important;
    --pst-font-family-heading: 'Signika', sans-serif!important;
}

.navbar-brand img {
    max-width: min(100%, 150px);
}