:root {
    /* --font-name: 'Signika', sans-serif; */
    --font-name: 'Solway', serif;
    --pst-color-primary: #51b46d!important;
    --pst-color-secondary: #7fc994!important;
    --sd-color-primary-highlight: #7fc994!important;
    --sd-color-primary-border: #7fc994!important;
    --pst-font-family-base: var(--font-name)!important;
    --pst-font-family-base-system: var(--font-name)!important;
    --pst-font-family-heading: var(--font-name)!important;
}

.navbar-brand img {
    max-width: min(100%, 150px);
}

/* if there's no secondary sidebar element at all, don't reserve space for it */
@media (min-width: 1200px) {
  .bd-main:not(:has(.bd-sidebar-secondary)) .bd-content .bd-article-container {
    max-width: 100% !important;
  }

  .bd-main:not(:has(.bd-sidebar-secondary)) .bd-article,
  .bd-main:not(:has(.bd-sidebar-secondary)) .bd-article-container {
    max-width: 100% !important;
  }
}
.bd-main:not(:has(.bd-sidebar-secondary)) .bd-article-container {
    max-width: 100% !important;
}


/* Reduce indentation for lists */
ul dd {
    margin-left: 0px!important;
}